* {
 box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.box1 {
    border: 2px;
    border-style: solid;
    color: black;
    height: 250px;
    background-color: #ffc001;
    padding: 10px;

}

.box2 {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;

    
    height: 250px;
   
    

}

.boxaside {width: 25%;
    height: 250px;
    border: 2px;
    border-style: solid;
    padding: 20px;
     background-color: #bfbfbf;
}

.boxmain {width: 100%;
    height: 250px;
    border: 2px;
    border-style: solid;
    padding: 20px;
    background-color: #5bc4bc;
}


.box3 {
    border: 2px;
    border-style: solid;
    color: black;
    height: 250px;
    background-color: #2d9ae3;
    padding: 10px;

}


body {
    font-family: sans-serif;
    font-size: large;
}