body{display: flex; 
    flex-direction: row;gap: 20px;}



.box1 {
    border: 2px;
    border-style: solid;
    color: black;
    width: 35%;
    height: 1000px;
    background-color: #ffff00;
    padding: 10px;
}

.box2 {
   border: 2px;
    border-style: solid;
    width: 35%;
    color: black;
    height: 1000px;
    background-color: #808080;
    padding: 10px;
}

.box3 {
    border: 2px;
    border-style: solid;
    color: black;
    width: 35%;
    height: 1000px;
   
    background-color: #00ffff;
    padding: 10px;
}


