* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.box1 {
    display: flex;
    border: 2px;
    border-style: solid;
    color: black;
    height: 100px;
    background-color: #ffc001;
    padding: 20px;

}

.carre {
    
    border: 2px;
    border-style: solid;
    color: black;
    background-color: #2d9ae3;
    width: 5%;
    height: 60px;
}

.invisible {width: 88%;}
.carre2 {
  
    justify-content: flex-end;
    align-items: flex-end;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;


    height: 250px;



}

.section {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.tibwat {
    border: 2px;
    border-style: solid;
    width: 15%;
    height: 60px;
    background-color: #ff99ff;

}

.tibwat1 {

    width: 15%;
    height: 60px;


}




.boxaside {
    width: 25%;
    height: 250px;
    border: 2px;
    border-style: solid;
    padding: 20px;
    background-color: #bfbfbf;
}

.boxmain {
    width: 100%;
    height: 250px;
    border: 2px;
    border-style: solid;
    padding: 20px;
    background-color: #5bc4bc;
}


.box3 {
    border: 2px;
    border-style: solid;
    color: black;
    height: 250px;
    background-color: #2d9ae3;
    padding: 10px;

}


body {
    font-family: sans-serif;
    font-size: large;
}