* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.box1 {
    display: flex;
    border: 2px;
    border-style: solid;
    color: black;
    height: 100px;
    background-color: #ffc001;
    padding: 20px;

}

.carre {

    border: 2px;
    border-style: solid;
    color: black;
    background-color: #2d9ae3;
    width: 5%;
    height: 60px;
}

.invisible {
    width: 88%;
}

.carre2 {

    justify-content: flex-end;
    align-items: flex-end;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;


    height: 250px;



}

.section {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.tibwat {
    border: 2px;
    border-style: solid;
    width: 15%;
    height: 60px;
    background-color: #ff99ff;

}

.tibwat1 {

    width: 15%;
    height: 60px;


}




.boxaside {
    width: 25%;
    height: 400px;
    border: 2px;
    border-style: solid;
    padding: 20px;
    background-color: #bfbfbf;
}

span {color: red;}

.big {
    width: 97%;
    height: 360px;
    border: 2px;
    border-style: solid;
    
    padding: 5px;
    background-color: white;
    padding-bottom: 2px;
}

.description {
    
    border-bottom: 2px;
    
    height: 111px;
    padding: 10px;
}

.boxmain {
    display: flex;
    width: 100%;
    height: 400px;
    border: 2px;
    border-style: solid;
    padding: 20px;
    background-color: #5bc4bc;
}

.boitepomme {
    width: 35%;
    height: 350px;
}

.pa {
    color: black;
    font-size: large;
}

.pa2 {
    color: black;
    font-size: large;
}

img {
    width: 100%;
    height: 360px;
}


.title {
    width: 99%;
    border: 2px;
    color: black;
    display: flex;
    justify-content: center;
}

.text {
    text-align: justify;
    padding: 10px;
}

.carreblanc {


    justify-content: center;
    align-items: center;
    border: 2px;
    border-style: solid;
    width: 65%;
    height: 360px;
    background-color: white;
    padding: 20px;
}

.box3 {
    display: flex;
    border: 2px;
    border-style: solid;
    color: black;
    height: 250px;
    background-color: #2d9ae3;
    padding: 10px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}

.rectangle1 {
    border: 2px;
    border-style: solid;
    color: black;
    width: 23%;
    height: 200px;
    background-color: #186aa0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;

}

p {
    color: white;
}

.rectangle2 {
    border: 2px;
    border-style: solid;
    color: black;
    width: 23%;
    height: 200px;
    background-color: #5bc4bc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}


body {
    font-family: sans-serif;
    font-size: large;
}