.bigo {display: flex;width: 100%;}



.bigi{display: flex; width: 70%;
    flex-direction: row;gap: 20px;
padding: 10px;}



.box1 {
    border: 2px;
    border-style: solid;
    color: black;
    width: 30%;
    height: 1000px;
    background-color: #ffff00;
    padding: 10px;
}

.big {display: flex; width: 100%;
flex-direction: column;gap: 20px;}

.box2 {
   border: 2px; width: 100%;
    border-style: solid;
    margin-left: 25px;
   
    color: black;
    height: 250px;
    background-color: #04118f;
    padding: 10px;
}

.box3 {
    border: 2px; width: 100%;
    border-style: solid;
    color: black;
    margin-left: 25px;
    
    height: 700px;
   
    background-color: #504e4a;
    padding: 10px;
}

.last {border: 2px; margin-top: 10px; margin-left: 80px;
    border-style: solid;
    color: black;
    width: 20%;
    height: 1000px;
    background-color: #ffff00;
    padding: 10px;
}

.rouge {border: 2px; margin-top: 10px;
    border-style: solid;
    color: black;
    width: 97%;
    height: 200px;
    background-color: #ff0000;
    padding: 10px;
margin-left: 1%;}

